.button-welcome{
  width: 8rem;
  height: 2.4rem;
  border-radius: 30px;
  background-color: red;
  color: white;
  border: 0;
}

.welcome-page{
  margin: 1rem;
  gap: 2rem;
}

.pikachu-img-welcome{
  width: 25rem;
  height: 21rem;
  margin-bottom: 1rem;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 28rem;
  margin: 1rem;
 }
 
 .input {
  width: 28rem;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 
 
 .spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-pokemons{
  width:26rem;
  margin: 0.4rem;

} 
 
.all-button{
  width: 12.3rem;
  height: 2.4rem;
  border-radius: 30px;
  background-color: #F22539;
  color: white;
  border: 0;
}
 
.favourites-btn{
  width: 12.3rem;
  height: 2.4rem;
  border-radius: 30px;
  background-color: #BFBFBF;
  color: white;
  border: 0;
}

.buttons-footer{
  gap: 2rem;
  margin-bottom: 1rem;
}

.color-i-favourite {
  color: gray;
  font-size: 25px;
}

.color-p-favourite {
  font-size: 20px;
}

.favourite {
  color: #ECA539;
}
